@page "/DeleteMahasiswa" 
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Delete Mahasiswa UKDW</PageTitle>
<h3>Delete Data Mahasiswa</h3>
<div>
    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NAMA MAHASISWA</span>
        <input class="form-control" placeholder="Nama Mahasiswa" @bind ="@mhs.nama" disabled>
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NIM</span>
        <input class="form-control" placeholder="NIM" @bind ="@mhs.nim" disabled>
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">ADDRESS</span>
        <input class="form-control" placeholder="Alamat" @bind ="@mhs.alamat" disabled>
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">EMAIL</span>
        <input class="form-control" placeholder="name.name@email.com" @bind ="@mhs.email" disabled>
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">CHOOSE FILE</span>
        <input class="form-control" placeholder="Choose File" @bind ="@mhs.foto" disabled>
    </div>

    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping">NIM PROGMOB</span>
        <input class="form-control" placeholder="NIM PROGMOB" @bind ="@mhs.nimProgmob" disabled>
    </div>
    
    <div class="mt-2">
        <button type="button" class="btn btn-primary" @onclick="Delete">DELETE</button>
        <a href="MahasiswaList">
            <button type="button" class="btn btn-danger">Back</button>
        </a>
    </div>
    </div>
@code
{
    [Parameter]
    public int id{ get; set; }
    Mahasiswa mhs = new Mahasiswa();
    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<Mahasiswa>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/Delete/"+ id);
        }
        protected async Task Delete()
        {
            var response = await Http.DeleteAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/delete" + id);
            bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
                if (deleteResponse)
                {
                    await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
                    NavigationManager.NavigateTo("MahasiswaList");
                }
        }
}